<launch>
  <arg name="map_file"                 default="$(find amr_gazebo)/maps/test_map/test_map.yaml"/>
  <arg name="virtual_wall_file"        default="$(arg map_file)"/>
  <arg name="obstacle_filter_map_path" default="$(find obstacle_filter)/map/ware_house.yaml"/>
  <arg name="safety_filter_map_path"   default="$(find binary_filter)/map/ware_house.yaml"/>

  <node name="static_map_server" pkg="map_server" type="map_server" args="$(arg map_file)" ns="/" output="screen">
    <param name="frame_id" type="string" value="map"/>
  </node>

  <node name="virtual_walls_map_server" pkg="map_server" type="map_server" args="$(arg virtual_wall_file)" ns="/virtual_walls" output="screen">
    <param name="frame_id" type="string" value="map"/>
  </node>

  <node name="obstacle_filter_map_server" pkg="map_server" type="map_server" args="$(arg obstacle_filter_map_path)" ns="/obstacle_filter" output="screen">
    <param name="frame_id" type="string" value="map"/>
  </node>

  <node name="safety_filter_map_server" pkg="map_server" type="map_server" args="$(arg safety_filter_map_path)" ns="/safety_filter" output="screen">
    <param name="frame_id" type="string" value="map"/>
  </node>
</launch>
