<?xml version="1.0"?>
<launch>
  <arg name="rviz_file" default="$(find amr_mapping)/rviz/mapping.rviz"/>
  <arg name="robot_x"   default="0.0" />
  <arg name="robot_y"   default="0.0" />
  <arg name="robot_yaw" default="0.0" />

  <!-- spawn robot and bring up controllers etc. -->
  <include file="$(find amr_gazebo)/launch/gazebo.launch">
    <arg name="robot_x"   value="$(arg robot_x)" />
    <arg name="robot_y"   value="$(arg robot_y)" />
    <arg name="robot_yaw" value="$(arg robot_yaw)" />
  </include>

  <!--=== Launch Rviz ===-->
  <node type="rviz" 
        name="rviz"
        pkg="rviz"
        args="-d $(arg rviz_file)"/>

  <!--=== Launch Gmapping Node ===-->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">	
    <rosparam file="$(find amr_mapping)/params/gmapping.yaml" command="load" /> 
	  
    <remap from="scan"          to="/front_scan"/>
	</node>

</launch>